<div class='docked-editor-container'>
  <div class='button-bar'>
    {{d-button action='openEmojiPicker' class='btn qm-emoji' icon='smile-o' mouseDown=(action 'buttonMousedown')}}
    {{docked-upload uploadDone=(action 'uploadDone') mouseDown=(action 'buttonMousedown')}}
  </div>
  <div class="docked-editor-textarea-wrapper">
    {{docked-expanding-textarea tabindex=null
                                value=value
                                class="d-editor-input"
                                placeholder=placeholderTranslated
                                disabled=disabled
                                scrollPoststream='scrollPoststream'
                                focusChange='focusChange'}}
    {{popup-input-tip validation=validation}}
  </div>

  {{emoji-picker active=emojiPickerOpen automaticPositioning=false emojiSelected=(action 'emojiSelected')}}
</div>
