{{#if uploading}}
  <div class="docked-uploading">
    {{uploadProgress}}%
  </div>
{{else}}
  <label class="btn btn-small" disabled={{uploading}}>
    {{d-icon "picture-o" class='qm-upload-picture'}}
    <input disabled={{uploading}} type="file" style="visibility: hidden; position: absolute;" multiple/>
  </label>
{{/if}}
