<a href class='cancel fa fa-times' {{action "cancel"}} tabindex="6"></a>
<a href class='toggler fa {{togglerIcon}}' {{action "toggle" bubbles=false}} title={{i18n 'composer.toggler'}}></a>
{{#if firstPost}}
  {{user-selector topicId=topic.id
                  excludeCurrentUser="true"
                  id="private-message-users"
                  includeMentionableGroups="true"
                  placeholderKey="composer.users_placeholder"
                  tabindex="1"
                  usernames=targetUsernames}}
{{else}}
  <div class="docked-usernames-wrapper">
    <div class="docked-usernames">{{otherUsernames}}</div>
  </div>
  {{#if hiddenUsernames}}
    {{d-button class="docked-usernames-toggle" icon='ellipsis-h' action="showUsernames"}}
    {{#if showUsernames}}
      <div class="extra-usernames">
        {{otherUsernames}}
        <a href class='cancel fa fa-times' {{action "showUsernames"}}></a>
      </div>
    {{/if}}
  {{/if}}
{{/if}}
<div class='docked-composer-top'>
  {{#if composerMinimized}}
    <div class='docked-draft-wrapper' {{action "toggle"}}></div>
  {{else}}
    {{#if disableEditor}}
      <div class=docked-composer-tip>
        <span>{{i18n 'composer.quick_duplicate'}}</span>
      </div>
    {{else}}
      {{docked-post-stream posts=postStream.posts loadingStream=loadingStream}}
    {{/if}}
  {{/if}}
</div>
{{#if composerReady}}
  {{docked-editor  tabindex="4"
                   value=reply
                   composer=this
                   placeholder="composer.quick_placeholder"
                   disabled=disableEditor}}
{{/if}}
