<div class='d-editor-container'>
  <div class='button-bar'>
    {{d-button action='openEmojiPicker' class='btn' icon='smile-o'}}
    {{docked-upload addText='addText'}}
  </div>
  <div class="d-editor-textarea-wrapper">
    {{docked-expanding-textarea tabindex=tabindex
                                value=value
                                class="d-editor-input"
                                placeholder=placeholderTranslated
                                disabled=disabled}}
    {{popup-input-tip validation=validation}}
  </div>

  {{emoji-picker active=emojiPickerOpen automaticPositioning=false emojiSelected=(action 'emojiSelected')}}
</div>
