<a href class='cancel fa fa-times' {{action "cancel"}} tabindex="6"></a>
<a href class='toggler fa {{togglerIcon}}' {{action "toggle" bubbles=false}} title={{i18n 'composer.toggler'}}></a>
<div class='composer-fields'>
  {{#if composerMinimized}}
    <div class='docked-draft-wrapper' {{action "open"}}>
      <div class='docked-draft-text'>{{draft}}</div>
    </div>
  {{else}}
    {{#unless topic}}
      {{user-selector topicId=topic.id
                      excludeCurrentUser="true"
                      id="private-message-users"
                      includeMentionableGroups="true"
                      class="span8"
                      placeholderKey="composer.users_placeholder"
                      tabindex="1"
                      usernames=targetUsernames
                      }}
    {{/unless}}
    {{docked-post-stream posts=postStream.posts}}
  {{/if}}
</div>
{{#if composerOpen}}
  {{docked-editor  tabindex="4"
                   value=reply
                   placeholder="composer.quick_placeholder"
                   markdownOptions=markdownOptions
                   extraButtons="extraButtons"
                   showOptions="showOptions"
                   showQuickUpload="showQuickUpload"
                   validation=validation
                   loading=loading}}
{{/if}}
