<div {{bind-attr class=":docked-post-user post.yours:yours"}} data-user-card="{{post.username}}">
  {{#unless post.yours}}
    {{avatar post avatarTemplatePath="avatar_template" usernamePath="username" imageSize="small"}}
  {{/unless}}
</div>
<div {{bind-attr class=":docked-post-content post.yours:yours"}}>
  {{{post.cooked}}}
</div>
