<div class="docked-composer-header">
  <div class="controls">
    {{#if integratedCompose}}
      <a href class='back' {{action "back"}} tabindex="6">
        {{d-icon 'chevron-left'}}
      </a>
    {{else}}
      <a href class='cancel' {{action "cancel"}} tabindex="6">
        {{d-icon 'times'}}
      </a>
      <a href class='toggler' {{action "toggle" bubbles=false}} title={{i18n 'composer.toggler'}}>
        {{d-icon togglerIcon}}
      </a>
      <a href class='topic-link' {{action "openTopic"}} title={{i18n 'composer.open_message_topic'}}>
        {{d-icon 'external-link'}}
      </a>
    {{/if}}
  </div>
  {{#if firstPost}}
    {{user-selector topicId=topic.id
                    excludeCurrentUser="true"
                    id="private-message-users"
                    includeMentionableGroups="true"
                    placeholderKey="composer.users_placeholder"
                    tabindex="1"
                    usernames=targetUsernames}}
  {{else}}
    <div class="docked-usernames-wrapper">
      {{#if hiddenUsernames}}
        <a class="docked-usernames" {{action "showUsernames"}}>
          {{otherUsernames}}
        </a>
      {{else}}
        <span class="docked-usernames">{{otherUsernames}}</span>
      {{/if}}
    </div>
    {{#if showUsernames}}
      <div class="extra-usernames">
        {{otherUsernames}}
        <a href class='cancel' {{action "showUsernames"}}>
          {{d-icon 'times'}}
        </a>
      </div>
    {{/if}}
  {{/if}}
</div>
{{#if composerOpen}}
  <div class='docked-composer-posts'>
    {{#if disableEditor}}
      <div class=docked-composer-tip>
        <span>{{i18n 'composer.quick_duplicate'}}</span>
      </div>
    {{else}}
      {{#if loading}}
        {{loading-spinner size=spinnerSize}}
      {{else}}
        <div class='docked-post-stream'>
          {{#each postStream.posts as |post|}}
            {{docked-post post=post}}
          {{/each}}
        </div>
      {{/if}}
    {{/if}}
  </div>

  {{docked-editor tabindex=editorTabIndex
                  value=reply
                  composer=this
                  placeholder="composer.quick_placeholder"
                  disabled=disableEditor
                  toggleEmojiPicker='toggleEmojiPicker'
                  emojiPickerOpen=emojiPickerOpen
                  scrollPoststream='scrollPoststream'}}
{{/if}}
