{{#menu-panel visible=visible}}
  <div class="messages-menu-content">
    {{#conditional-loading-spinner condition=loadingTopicList}}
      <ul class="messages-menu-links">
        {{#if topicList}}
          {{#each t in topicList}}
            {{messages-menu-item message=t}}
          {{/each}}
        {{/if}}
      </ul>
    {{/conditional-loading-spinner}}
  </div>
  <div class="messages-menu-gutter">
    <hr>
    <ul class="messages-menu-links">
      <li>
        {{#d-link path=messagesPath}}
          {{i18n 'show_more'}}
        {{/d-link}}
      </li>
      <li class='new-docked-message'>
        <a>{{fa-icon "envelope"}}{{i18n 'user.new_private_message'}}</a>
      </li>
    </ul>
  </div>
{{/menu-panel}}
{{#each docked as |id index|}}
  {{docked-composer id=id
                    messages=messages
                    docked=docked
                    maxIndex=maxIndex
                    index=index
                    showUploadSelector="showUploadSelector"
                    removeDocked="removeDocked"
                    updatedId="updateId"
                    onScreen="onScreen"}}
{{/each}}
