<a>
  <div {{bind-attr class=":message-preview message.unread:unread message.loading:loading"}} data-topic-id="{{message.id}}" href='/t/{{message.slug}}'>
    {{#each participant in message.participants}}
      <a class="message-avatar" data-user-card="{{participant.user.username}}">
        {{avatar participant.user avatarTemplatePath="avatar_template" usernamePath="username" imageSize="small"}}
      </a>
    {{/each}}
    {{{message.preview}}}
  </div>
</a>
